body {
  background-color: rgba(66, 42, 82, 0.89);
  .imagem-tela {
  width: 100vw;       /* 100% da largura da tela */
  height: 100vh;      /* 100% da altura da tela */
  object-fit: cover;  /* Preenche sem distorcer */
}
.hero {
  height: 80vh;
  background: url('https://i.pinimg.com/originals/cb/58/0a/cb580a840b3c5398a1dbef366cd9ed34.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}
}

.destaque-logo {
  font-size: 6em;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(34, 7, 151);
}
li {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  
}
h1{
    color: rgb(23, 236, 236);
    font-size: xx-large;
    margin-top: 100px;
    
}
.lead {
    height: 20vh;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top-left-radius: 1900px;
    background-color: rgb(118, 195, 214);
    background-size: cover;
    position: relative;
}

h2{color: rgb(106, 32, 175);
    font-size: xx-large;
    margin-top: 100px;
}
iframe{border-radius: 100px;

}
